@use '../util' as u;

footer{
    padding: 3rem 8rem 2rem 2rem;
    background: var(--gray-dark);
    border-radius: 0 3rem 0 0;
    @include u.flex-nowrap;
    justify-content: space-around;
    align-items: start;

    @include u.mobile{
        padding: 4rem 2rem;
        border-radius: 0 5rem 0 0;
        flex-direction: column;
        align-items: center;
    }

    h4{
        color: var(--white);
        font-weight: 500;

        @include u.mobile{
            text-align: center;
        }
    }
    a{
        color: var(--white);
        text-decoration: none;
        font-weight: 100;
    }
    ul{
        padding: 0;
        line-height: 2rem;
        li:hover{
            text-decoration: underline;
            text-decoration-color: var(--white);
            text-decoration-thickness: 2px;
        }
        li{
            list-style: none;     
        }

        @include u.mobile{
            text-align: center;
        }
    }

    .footer-logo{
        margin-bottom: 2rem;
    }
}