@use '../util' as u;

.hero-section{
    background: url("../assets/images/bg-pattern-intro-desktop.svg"), linear-gradient(to right, var(--orange-gradient), var(--red-gradient));
    background-repeat: no-repeat;
    background-position: 25% 52%;
    padding: 2rem 8rem 7rem;
    border-radius: 0 0 0 3rem;
    display: grid;
    place-items: center;

    @include u.mobile{
        background: url("../assets/images/bg-pattern-intro-mobile.svg"), linear-gradient(to bottom right, var(--orange-gradient), var(--red-gradient));
        background-position: 38% 33%;
        padding: 2rem 2rem 6rem;
        border-radius: 0 0 0 5rem;
    }
    @include u.mobile-s{
        padding: 2rem 0.5rem 7rem;
    }

    .hero-text{
        @include u.mobile-s{
            padding: 0 1rem;
        }
    }
    h1{
        color: var(--white);
        font-size: 3rem;
        font-weight: 500;
        text-align: center;
        margin-bottom: 0;
        
        @include u.mobile{
            font-size: 2.1rem;
        }
        @include u.mobile-s{
            font-size: 1.9rem;
        }
    }
    p{
        color: var(--white);
        font-weight: 200;
        margin-bottom: 0;
        padding: 0;
        text-align: center;

        @include u.mobile{
            font-size: 1rem; 
        }
    }
}