@use '../util' as u;

.section-1{
    grid-template-areas:
    "title-area title-area"
    "text-area img-area";
    
    @include u.desktop{
        background: url("../assets/images/illustration-editor-desktop.svg");
        background-repeat: no-repeat;
        background-position: 155% 0;
        background-size: clamp(40%, 60rem, 80%);
    }
    @include u.tablet{
        background-position: 250% 40%;
    }
    @include u.mobile{
        grid-template-areas:
        "title-area"
        "img-area"
        "text-area";
    }
}

.section-2{
    background: url("../assets/images/bg-pattern-circles.svg"), linear-gradient(to right, var(--purple-dark-gradient), var(--purple-light-gradient));
    background-repeat: no-repeat;
    background-position: -50% 85%;
    border-radius: 0 3rem 0 3rem;
    padding: 2.5rem;
    margin-top: 12rem;
    
    h2, p{
        color: var(--white);
        padding: 0;
        @include u.desktop{
            text-align: left;
        }
    }

    img{
        position: absolute;
        z-index: 99;
        left: 6%;

        @include u.tablet{
            left: 0;
            width: 50%;
        }

        @include u.mobile{
            left: 20%;
            bottom: 70%;
            width: 60%;
        }
        @include u.mobile-s{
            left: 0;
            bottom: 70%;
            width: 100%;
        }
    }

    @include u.desktop{
        @include u.flex-nowrap;
        justify-content: flex-end;
        .text{
            width: clamp(25%, 55rem, 50%);
        }
    }
    @include u.mobile{
        background: url("../assets/images/bg-pattern-circles.svg"), linear-gradient(to bottom, var(--purple-dark-gradient), var(--purple-light-gradient));
        background-position: 50% 200%;
        background-size: 160%;
        background-repeat: no-repeat;
        border-radius: 0 5rem 0 5rem;
        margin-top: 20rem;
        padding: 8rem 0.5rem 5rem 0.5rem;
        position: relative;
    }
    @include u.mobile-s{
        margin-top: 14rem;
        background-position: 50% -1000%;
    }
}

.section-3{
    grid-template-areas:
    "img-area text-area";

    .desktop{
        position: absolute;
        isolation: isolate;
        z-index: -99;
        left: -20%;
    }

    .text{
        margin-left: auto;
    }

    @include u.mobile{
        grid-template-areas:
        "img-area"
        "text-area";
    }
}